/* color.scss */
$primary : #04a6b7;

$color1 : #3da5f4;
$color2 : #ffb311;
$color3 : #00c689;
$color4 : #f1536e;
$color5 : #f1539d;
$color6 : #405189;

$dark : #08113b;
$light : #f8f9fa;
$gray  : #a3a4a5;
$gray-lt : #ededed;

$border : #dfdfdf;
$border-lt : #efefef;

$navy : #002256;

.red { color: $color4; }